<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/styles.css}">
    <title>Vacancy</title>
</head>
<body>

    <div class="w-100 p-3">
        <form th:action="@{/search/vacancy}">
                <div class="input-group mb-3">
                    <input type="search" name="q" class="w-50">
                    <div class="input-group-append w-20">
                        <input type="submit" value="Search">
                    </div>
                </div>
        </form>
    </div>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Vacancy Title</th>
            <th scope="col">Salary</th>
            <th scope="col">Placed At</th>
            <th scope="col">Organization</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="offer : ${offers}">
            <tr>
                <td><span th:text="${offer.vacancyTitle}">Vacancy Title</span></td>
                <td><span th:text="${offer.salary}">Salary</span></td>
                <td><span th:text="${offer.placedAt}">Placed At</span></td>
                <td><span th:text="${offer.organization.id}">Organization</span></td>
            </tr>
        </div>
        </tbody>
    </table>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-auto " th:each="i : ${pagesArray}">
                <span th:if="${i} == ${page}">..</span>
                <a th:if="${i} != ${page}" th:href="@{/search/vacancy(q = ${q}, page = ${i})}" th:text="${i}"></a>
            </div>
        </div>
    </div>

    <span class="badge badge-danger" th:if="${hasSearchError}"
          th:text="${searchError}"></span>


</body>
</html>