<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/styles.css}">
    <title>Organization offers</title>
</head>
<body>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Vacancy Title</th>
            <th scope="col">Salary</th>
            <th scope="col">Placed At</th>
        </tr>
    </thead>
    <tbody>
        <div th:each="offer : ${offers}">
            <tr>
                <td><span th:text="${offer.vacancyTitle}">Vacancy Title</span></td>
                <td><span th:text="${offer.salary}">Salary</span></td>
                <td><span th:text="${offer.placedAt}">Placed At</span></td>
            </tr>
        </div>
    </tbody>
</table>

<p align="middle"><a th:href="@{/organizations/{id}/offers/add(id = ${id})}">Add new offer</a></p>

</body>
</html>