<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/styles.css}">
    <title>Add new Offer</title>
</head>
<body>
    <form th:action="@{/organizations/{id}/offers/add(id = ${id})}" method="post">
        <input type="hidden" name="id" id="id">
        <label for="vacancyTitle">Vacancy Title</label>
        <input type="text" name="vacancyTitle" id="vacancyTitle">
        <label for="salary">Salary</label>
        <input type="number" name="salary" id="salary">
        <input type="submit" value="Add new Offer">
    </form>
</body>
</html>