@import "color";

@mixin roboto-36-regular {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: $black;
}