@import "color";
@import "text";

%button {
  background-color: $blue-3;
  border: none;
  border-radius: 15px;
  padding: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
%button:active, %button:focus {
  outline: none;
}
%button::-moz-focus-inner {
  border: 0;
}
.button-main {
  @extend %button;
  width: 155px;
  height: 65px;
  .text {
    @include roboto-36-regular;
    color: $black;
    text-align: center;
  }
}
.button-main-bl {
  @extend .button-main;
  border-radius: 0 15px 15px 0;
}
.button-main-second {
  .text {
    @include roboto-24-regular;
    color: $black;
    text-align: center;
  }
}
.button-second {
  @extend %button;
  width: 120px;
  height: 38px;
  .text {
    @include roboto-18-regular;
    color: $black;
    text-align: center;
  }
}
.text {
  @include roboto-36-regular;
  color: $black;
  text-align: center;
}