@import "color";
@import "text";

%select {
  background-color: $blue-3;
  border: none;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1px 12px 1px 12px;
}
%select:active, %select:focus {
  outline: none;
}
%select::-moz-focus-inner {
  border: 0;
}
.select-main {
  @extend %select;
  @include roboto-36-regular;
  position: relative;
  width: 225px;
  height: 45px;
  option {
    @include roboto-36-regular;
    color: $black;
    text-align: center;
  }
}
.select-main-bt {
  @extend .select-main;
  border-radius: 0 0 3px 3px;
}