<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/styles.css}">
    <title>WorkHea</title>
</head>
<body>
    <div class="p-3 d-flex bd-highlight">
        <h1 class="p-2 flex-grow-1 bd-highlight">WorkHea</h1>
        <div class="p-2 bd-highlight" sec:authorize="isAuthenticated()">
            Authenticated as <span sec:authentication="name"></span>
        </div>
    </div>

    <div class="w-100 p-3">
        <form th:action="@{/}" method="post">
            <div class="input-group mb-3">
                <input type="search" name="q" class="w-50">
                <div class="input-group-append w-20">
                    <input type="submit" value="Search">
                </div>
            </div>
            <div>
                <input type="radio" id="isSearchVacancy" name="isSearch" th:value="${isSearchVacancy}" checked/>
                <label th:for="isSearchVacancy">Vacancy</label>
                <input type="radio" id="isSearchOrganization" name="isSearch" th:value="${isSearchOrganization}"/>
                <label th:for="isSearchOrganization">Organization</label>
            </div>

        </form>
    </div>

</body>
</html>