<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/styles.css}">
    <title>Login</title>
</head>
<body>

<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Log In</h4>

        <div th:if="${(param.error != null) and (param.error[0] == 'true')}" class="alert alert-danger">
            Unable login.<br>
            Check you username or password.
        </div>

        <form method="POST" th:action="@{/login}" id="loginForm">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input name="username" class="form-control" placeholder="Username" type="text">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input name="password" class="form-control" placeholder="Password" type="password">
            </div> <!-- form-group// -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Log In</button>
            </div> <!-- form-group// -->
            <p class="text-center">Not have an account? <a th:href="@{/register}">Register</a> </p>
        </form>
    </article>
</div>
</body>
</html>